@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900');

:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background: #f0f0f0;
  transition: opacity 0.6s ease;
  background: linear-gradient(180deg, #f0f0f0 65%, #3c5aa6 100%);
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background:
    linear-gradient(#00000008 1px, transparent 1px),
    linear-gradient(90deg, #00000006 1px, transparent 1px);
  background-size:
    100% 4px,
    4px 100%;
  pointer-events: none;
  z-index: -1;
}

h1 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5em;
  text-align: center;
  color: #3c5aa6;
  transition: color 0.2s ease;
}

h1 span {
  color: #222;
}

h2 {
  font-size: 1.9rem;
  text-transform: capitalize;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  padding: 0.8rem 0;
  text-align: center;
}

.start-button {
  height: 80vh;
}

.start-button, .pokemon-choice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.pokemon-choice {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card-wrapper {
  width: 100%;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.pokemon-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  width: 600px;
  height: 300px;
  margin: 2rem;
  padding: 1.5rem 2rem;
  background-color: #e0e0e0;
  box-shadow:
    8px 0 0 #222,
    -8px 0 0 #222,
    0 8px 0 #222,
    0 -8px 0 #222;
  transition: transform 0.3s ease;
}

.pokemon-card:hover {
  transform: translateY(-5px);
}

.pokemon-card img {
  width: 230px;
  height: auto;
  transform: scaleX(-1);
  transition: transform 0.3s ease;
}

.pokemon-card:hover img {
  transform: scale(-1.05, 1.05);
}

.pokemon-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-weight: bold;
}

.pokemon-tag {
  font-size: 2.5rem;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  opacity: 0.7;
}

.pokemon-card strong {
  font-size: 1.7rem;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  opacity: 0.7;
  margin-right: 0.3rem;
}

.type-text {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.type-text ul {
  display: flex;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}

.type-text li {
  list-style: none;
  padding: 0.2rem 1rem;
  margin-right: 1rem;
  display: inline-block;
  box-shadow:
    4px 0 0 #222,
    -4px 0 0 #222,
    0 4px 0 #222,
    0 -4px 0 #222;
}

button, select {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow:
    4px 0 0 #222,
    -4px 0 0 #222,
    0 4px 0 #222,
    0 -4px 0 #222;
  transition: transform 0.2s ease, filter 0.2s ease, background 0.2s ease;
}

button {
  padding: 0.8rem 2rem;
  margin: 1rem 0;
  color: #fff;
  border: none;
  background: linear-gradient(90deg, #3c5aa6, #2a75bb);
}

button:hover {
  transform: translateY(-3px);
  filter: brightness(1.1);
}

select {
  padding: 0.6rem 1rem;
  margin: 1rem 0;
  border: none;
  background-color: #f0f0f0;
  color: #222;
  text-transform: capitalize;
}

select:hover {
  background-color: #e0e0e0;
}

select option {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

footer {
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  font-weight: 600;
  color: #222;
}